* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --main-color: #634c9f;
  --link-grey-color: #6b7280;
  --main-bg-color: white;
  --border-color: #e5e7eb;
}


#mainContainer {
  width: 100vw;
  background-color: var(--main-bg-color);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* ------ Top Discount Bar ------ */

#mainContainer .wrapper .topDiscountBar {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#mainContainer .wrapper .topDiscountBar p {
  font-size: 0.8rem;
  color: white;
}

#mainContainer .wrapper .topDiscountBar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

#mainContainer .wrapper .topDiscountBar ul li {
  margin-left: 1rem;
  font-size: 0.8rem;
  color: white;
  opacity: 70%;
}

#mainContainer .wrapper .topDiscountBar ul li span {
  font-weight: 800;
  font-size: 1rem;
  margin-right: 0.2rem;
  color: white;
  opacity: 100%;
}

/* ----------- Top Small Nav--------- */

#topSmallNav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: coral;
  background-color: var(--main-bg-color);
  padding: 0.6rem;
  /* border: 1px solid var(--border-color); */
}

#topSmallNav .left {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#topSmallNav .left li {
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--link-grey-color);
}

#topSmallNav .left li a {
  text-decoration: none;
  color: var(--link-grey-color);
}

#topSmallNav .left li:nth-child(1) {
  margin-left: 0px;
}

#topSmallNav .left hr {
  width: 1px;
  height: 1.3rem;
  background-color: var(--link-grey-color);
  outline: none;
  border: 0.2px;
  margin-left: 1rem;
}

#topSmallNav .left li span {
  color: #ea580c;
}

#topSmallNav .right {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#topSmallNav .right li {
  margin-left: 1rem;
  color: var(--link-grey-color);
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
}

#topSmallNav .right li a {
  color: var(--link-grey-color);
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  text-decoration: none;
}

#topSmallNav .right li p {
}

#topSmallNav .right li img {
  width: 1rem;
  margin-left: 0.3rem;
}

.bottom-border {
  width: 90%;
  height: 1px;
  background-color: var(--border-color);
  border: none;
}

/* ------ Search Bar and Lists ------- */

#searchBarAndLists {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
}

#searchBarAndLists .left {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchBarAndLists .left li {
  margin-right: 1.8rem;
}

#searchBarAndLists .left li:nth-child(1) img {
  width: 5.8rem;
}

#searchBarAndLists .left li:nth-child(2) img {
  width: 1rem;
}

#searchBarAndLists .left li p {
  font-size: 0.8rem;
  opacity: 70%;
}

#searchBarAndLists .left li span {
  font-size: 0.8rem;
}

#searchBarAndLists .midSearchInputBox {
  width: 60%;
  height: 2.3rem;
  border-radius: 6px;
  position: relative;
}

#searchBarAndLists .midSearchInputBox input {
  width: 100%;
  height: 100%;
  background: #f3f4f6;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
}

#searchBarAndLists .midSearchInputBox input::placeholder {
  color: #6b7280;
}

#searchBarAndLists .midSearchInputBox button{
  cursor: pointer;
}

#searchBarAndLists .midSearchInputBox img {
  width: 1.3rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

#searchBarAndLists .right {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchBarAndLists .right li {
  margin-left: 1.5rem;
  margin-right: 1rem;
}

#searchBarAndLists .right li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  position: relative;
}

#searchBarAndLists .right li a .wishListCountShow {
  background-color: red;
  padding: 2px 6px;
  position: absolute;
  right: 0px;
  top: -10px;
  border-radius: 8px;
  color: white;
}

#searchBarAndLists .right li:nth-child(3) {
  margin-right: 0px;
}

#searchBarAndLists .right li img {
  width: 1.3rem;
}

#searchBarAndLists .right li span {
  font-size: 0.6rem;
  margin-top: 0.2rem;
  color: #030712;
}

/* ---------- navbar --------- */

#navbar {
  width: 90%;
  height: 2.5rem;
  /* padding: .6rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8rem;
  /* background-color: darkgreen; */
}

#navbar .left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#navbar .left li {
  height: 100%;
  margin-left: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar .left li:nth-child(1) {
  margin-left: 0px;
}

#navbar .left li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #030712;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}

#navbar .left li a p {
  font-size: 0.9rem;
}

#navbar .left li a img {
  width: 1.2rem;
  margin-left: 0.3rem;
}

#navbar .right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

#navbar .right li {
  height: 100%;
  margin-right: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar .right li:nth-child(2) {
  margin-right: 0px;
}

#navbar .right li:nth-child(2) a p {
  color: #dc2626;
}

#navbar .right li a {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #030712;
  font-weight: 500;
}

#navbar .right li a p {
  font-size: 0.9rem;
}

#navbar .right li a img {
  width: 1.2rem;
  margin-left: 0.3rem;
}

#navbar .right li a .sale-bar {
  width: 1.9rem;
  margin-left: 0.3rem;
}

/*----- for javascript ----*/

#navbar .left li a.active,
#navbar .right li a.active {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

/* -------------- Menu Bar --------------- */

.display {
  display: none;
}

/* ------------ Widget price filter -------------- */

#widgetPriceFilterHeading {
  width: 90%;
  padding: 0.6rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.8rem;
}

#widgetPriceFilterHeading .left {
}

#widgetPriceFilterHeading .left p {
  font-size: 0.9rem;
  font-weight: 500;
}

#widgetPriceFilterHeading .right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12rem;
}

#widgetPriceFilterHeading .right li {
  display: flex;
  align-items: center;
  justify-content: center;
}

#widgetPriceFilterHeading .right li:nth-child(2) {
  margin-left: 2rem;
}

#widgetPriceFilterHeading .right li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#widgetPriceFilterHeading .right li a img {
  width: 0.7rem;
}

#widgetPriceFilterHeading .right li p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #555555;
  margin-left: 0.2rem;
}

/* ----------- Main Body ------------ */

#mainBody {
  /* background-color: #634c9f; */
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1rem;
}

#mainBody .left #filterCloseBtn{
  display: none;
}

#mainBody .left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#mainBody .left .priceRanges {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainBody .left .priceRanges li {
  width: 100%;
}

#mainBody .left .priceRanges li:nth-child(2) {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainBody .left .priceRanges li:nth-child(2) p {
  font-size: 2.5rem;
  font-weight: 300;
}

#mainBody .left .priceRanges li p {
  color: #6b7280;
  font-size: 0.8rem;
}

#mainBody .left .priceRanges li input {
  width: 100%;
  outline: none;
  border: 1px solid #d1d5db;
  background: transparent;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#mainBody .left .priceRanges li a {
}

#mainBody .left .rangeInput {
  width: 98%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainBody .left .rangeInput .input-slider-right[type="range"],
#mainBody .left .rangeInput .input-slider-left[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: #030712;
  height: 4px;
  border-radius: 4px;
}

#mainBody .left .rangeInput .input-slider-left[type="range"] {
  margin-left: -4px;
}

#mainBody
  .left
  .rangeInput
  .input-slider-right[type="range"]::-webkit-slider-thumb,
#mainBody
  .left
  .rangeInput
  .input-slider-left[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

#mainBody .left .priceAndfilterBtn {
  width: 100%;
  margin-top: 1rem;
}

#mainBody .left .priceAndfilterBtn li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainBody .left .priceAndfilterBtn li p {
  font-size: 0.8rem;
}

#mainBody .left .priceAndfilterBtn li a {
  text-decoration: none;
  background-color: #e5e7eb;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.8rem;
  color: #030712;
}

.widgetPriceBottomHr {
  margin-top: 1.5rem;
}

/* Product Categories */

#mainBody .left .productCategories {
  width: 100%;
  margin-top: 1.5rem;
}

#mainBody .left .productCategories .productCategoriesHeading {
  font-size: 0.9rem;
  font-weight: 500;
}

#mainBody .left .productCategories ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

#mainBody .left .productCategories ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#mainBody .left .productCategories ul li:nth-child(1) {
  margin-top: 1.6rem;
}

#mainBody .left .productCategories ul li:nth-child(2) {
  margin-top: 1.7rem;
}

#mainBody .left .productCategories ul li input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  border: 1px solid #d1d5db;
}

#mainBody .left .productCategories ul li input[type="checkbox"]:checked {
  background-color: var(--main-color);
  border: none;
}

#mainBody
  .left
  .productCategories
  ul
  li
  input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 0.9px;
  left: 4px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#mainBody .left .productCategories ul li p {
  color: #030712;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

/* -----checkBox checked----- */

#mainBody .left .productCategories ul li .checked-text {
  color: var(--main-color);
}

/* -------------------- */

#mainBody .left .productCategories ul li a {
}

#mainBody .left .productCategories ul li a img {
  width: 0.9rem;
}

/* filter by color */

#mainBody .left .filterByColor {
  width: 100%;
  margin-top: 1.5rem;
}

#mainBody .left .filterByColor p {
  font-size: 0.9rem;
  font-weight: 500;
}

#mainBody .left .filterByColor ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainBody .left .filterByColor ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#mainBody .left .filterByColor ul li:nth-child(2) {
  color: #9ca3af;
  font-size: 0.9rem;
}

#mainBody .left .filterByColor ul li .greenCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #81d742;
}

#mainBody .left .filterByColor ul li p {
  color: #030712;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

/* filter by brands  */

#mainBody .left .filterByBrands {
  width: 100%;
  margin-top: 1.5rem;
}

#mainBody .left .filterByBrands p {
  font-size: 0.9rem;
  font-weight: 500;
}

#mainBody .left .filterByBrands ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainBody .left .filterByBrands ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#mainBody .left .filterByBrands ul li:nth-child(2) {
  color: #9ca3af;
  font-size: 0.9rem;
}

#mainBody .left .filterByBrands ul li input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  border: 1px solid #d1d5db;
}

#mainBody .left .filterByBrands ul li input[type="checkbox"]:checked {
  background-color: var(--main-color);
}

#mainBody .left .filterByBrands ul li input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 0.5px;
  left: 4px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#mainBody .left .filterByBrands ul li p {
  color: #030712;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

/* Product status */

#mainBody .left .productStatus {
  width: 100%;
  margin-top: 1.5rem;
}

#mainBody .left .productStatus p {
  font-size: 0.9rem;
  font-weight: 500;
}

#mainBody .left .productStatus ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  list-style-type: none;
  flex-direction: column;
}

#mainBody .left .productStatus ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#mainBody .left .productStatus ul li input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  border: 1px solid #d1d5db;
}

#mainBody .left .productStatus ul li input[type="checkbox"]:checked {
  background-color: var(--main-color);
}

#mainBody .left .productStatus ul li input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 0.5px;
  left: 4px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#mainBody .left .productStatus ul li p {
  color: #030712;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

/* -------- Right Side of the main body -------- */

#mainBody .right {
  width: 80%;
  margin-left: 1.4rem;
}

#mainBody .right .banner {
  background-image: url("./assets/banner.png");
  background-repeat: none;
  background-size: cover;
  border-radius: 6px;
}

#mainBody .right .banner .left {
  width: 48%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 2.5rem;
  padding: 1rem;
}
#mainBody .right .banner .left span,
#mainBody .right .banner .left h1,
#mainBody .right .banner .left p,
#mainBody .right .banner .left button {
  margin-top: 1.91rem;
}

#mainBody .right .banner .left span {
  color: #7c2d12;
  background-color: #ffedd5;
  border-radius: 1.5rem;
  font-size: 0.6rem;
  padding: 0.4rem 0.7rem;
}

#mainBody .right .banner .left h1 {
  color: #111827;
  font-size: 1.8rem;
}

#mainBody .right .banner .left p {
  color: #6b7280;
  font-size: 0.8rem;
}

#mainBody .right .banner .left button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 1.5rem;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}

#mainBody .right .banner .left button p {
  color: #212529;
  font-weight: 500;
  font-size: 0.7rem;
  margin-top: 0;
}

#mainBody .right .banner .left button a {
}

#mainBody .right .banner .left button a img {
  width: 0.9rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

/* Showing Results */

#mainBody .right .showingResults {
  width: 100%;
  background-color: #f3f4f6;
  padding: 0.9rem;
  margin-top: 0.5rem;
  border-radius: 6px;
}

#mainBody .right .showingResults .showingResultsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mainBody .right .showingResults .showingResultsBox ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainBody .right .showingResults .showingResultsBox ul li {
  color: #6b7280;
  font-size: 0.8rem;
  font-weight: 300;
}

#mainBody .right .showingResults .showingResultsBox ul:nth-child(2) li {
  color: #020617;
  font-weight: 400;
}

#mainBody
  .right
  .showingResults
  .showingResultsBox
  ul:nth-child(2)
  li:nth-child(3) {
  margin-right: 2.5rem;
}

#mainBody .right .showingResults .showingResultsBox ul li span {
  color: #6b7280;
  margin-right: 1rem;
}

#mainBody .right .showingResults .showingResultsBox ul li hr {
  width: 1px;
  height: 1.2rem;
  background-color: var(--link-grey-color);
  outline: none;
  border: 0.2px;
  margin-left: 3rem;
  margin-right: 0.5rem;
}

#mainBody .right .showingResults .showingResultsBox ul li a {
  text-decoration: none;
}

#mainBody .right .showingResults .showingResultsBox ul li a img {
  width: 1.5rem;
  opacity: 0.5;
  margin-top: 0.3rem;
}


/* Results */

#mainBody .right .results {
  width: 100%;
  margin-top: 0.5rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

/* --------------- Product Card Styles --------------- */

.productCard {
  /* ul */
  width: 100%;
  height: 100%;
  /* background-color: #634c9f; */
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
}

.productCardLists {
  /* li */
  border: 0.5px solid #e5e7eb;
  width: 25%;
  height: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.productCardLists li {
  margin-top: 1rem;
}

.topLi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.topLi .leftImgTag {
  width: 2.3rem;
}

.topLi .rightImgTag {
  width: 1rem;
  cursor: pointer;
}

.midLi {
}

.bottomLi {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
}

.bottomLi li {
  margin-top: 0.6rem;
}

.bottomLi .productName {
  color: #030712;
  font-size: 1rem;
}

.bottomLi .ratingLi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bottomLi .ratingLi img {
  width: 3.5rem;
}

.bottomLi .ratingLi p {
  color: #6b7280;
  font-size: 0.7rem;
  margin-left: 1.5rem;
}

.bottomLi .priceLi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bottomLi .priceLi .price {
  color: #dc2626;
  font-size: 1.4rem;
}

.bottomLi .priceLi .priceWrong {
  color: #111827;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  text-decoration: line-through;
}

.inStockLi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.inStockLi .inStockImg {
  width: 2rem;
}

.inStockLi .inStockText {
  font-size: 0.7rem;
  margin-left: 1rem;
  color: #16a34a;
}

/* Other Products */

.otherProductsCard {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
}

.otherProductsCard li {
  border: 0.5px solid #e5e7eb;
  width: 25%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 9rem 0.5rem;
}

/* ------------- Footer --------------- */

#footer {
  width: 100%;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

#footer .footerWrapper {
  width: 90%;
  /* background-color: #111827; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer .footerWrapper .top {
  width: 100%;
  /* background-color: #634c9f; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

#footer .footerWrapper .top ul {
  list-style-type: none;
}

#footer .footerWrapper .top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}

#footer .footerWrapper .top ul li h3 {
  font-size: 1.3rem;
}

#footer .footerWrapper .top ul li p {
  font-size: 0.83rem;
  margin-top: 1rem;
}

#footer .footerWrapper .top ul .rightInputMailBox {
  width: 60%;
  position: relative;
}

#footer .footerWrapper .top ul .rightInputMailBox input {
  width: 100%;
  border: 1px solid #d1d5db;
  outline: none;
  border-radius: 4px;
  padding: 0.5rem;
}

#footer .footerWrapper .top ul .rightInputMailBox button {
  position: absolute;
  right: 0px;
  padding: 0.55rem;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--main-color);
  color: white;
  font-size: 0.7rem;
}

#footer .footerWrapper .top ul:nth-child(2) {
  width: 25%;
  /* background-color: bisque; */
  padding: 0px;
}

#footer .footerWrapper .top ul:nth-child(2) li {
  width: 100%;
  padding: 0px;
}

#footer .footerWrapper .top ul:nth-child(2) li p {
  font-size: 0.52rem;
  margin-top: 0.4rem;
}

.footerhr {
  margin-top: 2rem;
}

/* footer middle */

#footer .footerWrapper .middle {
  width: 100%;
  /* background-color: cadetblue; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#footer .footerWrapper .middle ul {
  list-style-type: none;
  padding: 1rem;
}
#footer .footerWrapper .middle ul li {
  margin-top: 0.5rem;
}

#footer .footerWrapper .middle ul ul {
  display: flex;
}
#footer .footerWrapper .middle ul:nth-child(5) ul {
  display: flex;
  flex-direction: column;
  /* background-color: #634c9f; */
}

#footer .footerWrapper .middle ul:nth-child(5) ul ul {
  /* background-color: #7c2d12; */
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-direction: row;
}

#footer .footerWrapper .middle ul:nth-child(5) ul ul li p {
  font-size: 0.4rem;
}

#footer .footerWrapper .middle ul:nth-child(5) ul:nth-child(3) li p {
  font-size: 0.5rem;
}

#footer .footerWrapper .middle ul li h4 {
  color: #111827;
  font-size: 0.7rem;
}

#footer .footerWrapper .middle ul li p {
  font-size: 0.7rem;
  color: #4b5563;
  cursor: pointer;
}

#footer .footerWrapper .middle ul li img {
  width: 4rem;
  margin-top: 4px;
}

#footer .footerWrapper .middle ul li .social-icons {
  width: 1.5rem;
  cursor: pointer;
}

#footer .footerWrapper .middle ul .callImg,
#footer .footerWrapper .middle ul .mailImg {
  width: 1.5rem;
  margin-right: 1rem;
}

/* footer middle for small screen */




/* footer bottom */

#footer .footerWrapper .bottom {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 3rem 0rem;
}

#footer .footerWrapper .bottom .left {
  list-style-type: none;
}

#footer .footerWrapper .bottom .left li {
  font-size: 0.7rem;
}

#footer .footerWrapper .bottom .left li span {
  color: var(--main-color);
}

#footer .footerWrapper .bottom .left li img {
  width: 2rem;
}

#footer .footerWrapper .bottom .left li:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

#footer .footerWrapper .bottom .right {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .footerWrapper .bottom .right li {
  margin-left: 1rem;
  font-size: 0.7rem;
  text-decoration: underline;
  cursor: pointer;
}


/* =========== Media Queries =============== */

@media screen and (max-width: 950px) {
  /*-------------- Top Discount Bar ------------ */

  #mainContainer .wrapper .topDiscountBar {
    flex-direction: column;
  }

  #mainContainer .wrapper .topDiscountBar p:nth-child(1){
    font-size: .7rem;
  }

  #mainContainer .wrapper .topDiscountBar ul {
    margin-top: 0.7rem;
  }

  #mainContainer .wrapper .topDiscountBar .endOfSaleTime li{
    font-size: .7rem;
  }

  #mainContainer .wrapper .topDiscountBar .endOfSaleTime li span{
    font-size: 1rem;
  }

  #mainContainer .wrapper .topDiscountBar ul li:nth-child(1) {
    margin-left: 0px;
  }

  #mainContainer .wrapper .topDiscountBar p:nth-child(1) {
    margin-left: 1rem;
  }

  /* ---------- Top small nav ------------- */

  #topSmallNav {
    display: none;
  }

  /* ---------- search bar and results ------------- */

  #searchBarAndLists {
    display: none;
  }

  /* ---------- navbar ------------- */

  #navbar {
    display: none;
  }

  /* --------------- Search Bar ------------- */

  #searchBoxForMobile{
    width: 90%;
    margin-top: .5rem;
  }

  #searchBoxForMobile .inputBox{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
  }

  #searchBoxForMobile .inputBox input{
    width: 100%;
    outline: none;
    border: none;
    background-color: #f3f4f6;
    padding: 0.5rem;
    border-radius: 4px
  }

  #searchBoxForMobile .inputBox input::placeholder{
    color: #6b7280;
    font-size: .6rem;
  }

  #searchBoxForMobile .inputBox button{
    position: absolute;
    background: none;
    border: none;
    right: 1rem;
    cursor: pointer;
  }

  #searchBoxForMobile .inputBox button img{
   width: 1rem;
  }

  /* ------------ Search Bar and Results --------------- */

  #ressearchBarAndLists {
    display: block;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8rem;
    transition: all 0.2s ease-in-out;
  }

  #ressearchBarAndLists button {
    border: none;
    background: none;
  }

  #ressearchBarAndLists button a {
    text-decoration: none;
    position: relative;
    margin-right: 1rem;
  }


  #ressearchBarAndLists button a .wishListCountShow {
    position: absolute;
    background: red;
    padding: 3px 6px;
    border-radius: 12px;
    right: -4px;
    bottom: 14px;
    font-size: 8px;
    color: white;
  }

  #ressearchBarAndLists button{
    cursor: pointer;
  }

  #ressearchBarAndLists button img {
    width: 2rem;
  }

  #ressearchBarAndLists button .logo {
    width: 6.5rem;
  }

  /* --------- widget price filter heading ---------- */

  #widgetPriceFilterHeading {
    display: none;
  }


  /* ---------- Menu ----------- */

  /* top */

  #menu {
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: transform 0.5s ease;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
  }

  body.srollRemove {
    overflow: hidden;
  }

  #menu .top {
    width: 100%;
    list-style-type: none;
    /* background-color: #7c2d12; */
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  #menu .top li {
    font-weight: 500;
    margin-top: 1rem;
  }

  #menu .top .topLi {
    /* background-color: #212529; */
    width: 100%;
  }

  #menu .top .topLi .logo {
    width: 8rem;
  }

  #menu .top .topLi button {
    background: none;
    border: none;
    cursor: pointer;
  }

  #menu .top .topLi button .closeImg {
    width: 1.3rem;
  }

  #menu .top .locationSetUp {
    /* background-color: #634c9f; */
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8rem;
  }

  #menu .top .locationSetUp .locationSetUpLi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* background-color: burlywood; */
  }

  #menu .top .locationSetUp .locationSetUpLi .yourLocationSetUpText {
    font-size: 0.8rem;
    color: grey;
  }

  #menu .top .locationSetUp .locationSetUpLi .locationImg {
  }

  #menu .top .locationSetUp .locationSetUpLi .allLocation {
  }

  #menu .top .locationSetUp .changeText {
    color: var(--main-color);
    font-size: 0.8rem;
    cursor: pointer;
  }

  .menu-bottom-border {
    margin-top: 0.5rem;
  }

  /* middle */

  #menu .middle {
    padding: 1rem;
    list-style-type: none;
  }

  #menu .middle h6 {
    color: grey;
    opacity: 0.3;
    font-size: 0.8rem;
    font-weight: 500;
  }

  #menu .middle li {
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 0.9rem;
  }

  #menu .bottom {
    padding: 1rem;
    list-style-type: none;
  }

  /* bottom */

  #menu .bottom {
    /* background-color: #634c9f; */
    padding: 1rem;
  }

  #menu .bottom h6 {
    color: grey;
    opacity: 0.3;
    font-size: 0.8rem;
    font-weight: 500;
  }

  #menu .bottom .callUl {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
  }

  #menu .bottom .callUl li {
  }

  #menu .bottom .callUl li img {
    width: 1.5rem;
    margin-top: 0.5rem;
  }

  #menu .bottom .callUl .numberAndInfo {
    margin-left: 1rem;
  }

  #menu .bottom .callUl .numberAndInfo p:nth-child(1) {
    font-weight: 600;
  }

  #menu .bottom .callUl .numberAndInfo p:nth-child(2) {
  }
  #menu .bottom .exampleMailUl {
    display: flex;
    list-style-type: none;
    margin-top: 1rem;
  }

  #menu .bottom .exampleMailUl li {
  }

  #menu .bottom .exampleMailUl li img {
    width: 1.5rem;
    margin-top: 0.5rem;
  }

  #menu .bottom .exampleMailUl .mailAndInfo {
    margin-left: 1rem;
  }

  #menu .bottom .exampleMailUl .mailAndInfo p:nth-child(1) {
    font-weight: 600;
  }

  #menu .bottom .exampleMailUl .mailAndInfo p:nth-child(2) {
  }

  /* banner */

  #mainBody .right .banner .left {
    width: 60%;
    margin-left: 0px;
  }

  #mainBody .right .banner .left span,
  #mainBody .right .banner .left h1,
  #mainBody .right .banner .left p,
  #mainBody .right .banner .left button {
    margin-top: 8px;
  }

  #mainBody .right .banner .left h1 {
    font-size: 1rem;
  }

  #mainBody .right .banner .left p {
    font-size: 0.7rem;
  }

  /* ----------showing results ----------- */

  #mainBody .right .showingResults{
    display: none;
  }


  /* ---------- main body left and right ---------- */

  #mainBody{
    width: 100%;
    margin-top: 0px;
  }

  #mainBody .right{
    width: 90%;
  }

  #mainBody .left {
    position: absolute;
    transform: translateX(-600px);
    transition: transform 0.5s ease;
    height: 100%;
  }

  #mainBody .left hr{
    display: none;
  }
  #mainBody .left hr:nth-child(4){
    display: block;
  }

  #mainBody .left .filterByColor{
    display: none;
  }

  #mainBody .left .filterByBrands{
    display: none;
  }

  #mainBody .left .productStatus{
    display: none;
  }

  #mainBody .left #filterCloseBtn{
    background: none;
    border: none;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    cursor: pointer;
    display: block;
  }

  #mainBody .left #filterCloseBtn img{
    width: .8rem;
  }


  #mainBody .forMobileViewFilteringOpen{
    transform: translateX(0px);
    left: 0px;
    background-color: white;
    top: 0px;
    padding: 1rem;
    width: 40%;
    height: 100vh;
  }

  #mainBody .forMobileViewFilteringClose{
    transform: translateX(-600px)
  }

  #mainBody .right{
    margin-left: 0px;
  }
  
  /* ----------- showing results for mobile view ---------- */

  #mainBody .right .showingResultsForMobile {
    width: 100%;
    background-color: #f3f4f6;
    padding: 0.5rem;
    margin-top: .5rem;
    border-radius: 6px;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl{ 
    display: flex;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .filterUl,
  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .sortUl{ 
   list-style-type: none;
   margin-left: .5rem;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .filterHr{
    margin-left: .5rem;
  }



  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .filterUl li,
  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .sortUl li{

  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .filterUl li button,
  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .sortUl li button{ 
    display: flex;
    background: none;
    border: none;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .filterUl li button{
    cursor: pointer;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .filterUl li button img,
  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .sortUl li button img{ 
    width: .8rem;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .filterUl li button p,
  #mainBody .right .showingResultsForMobile .showingResultsBox .filterAndSortUl .sortUl li button p{ 
    font-size: .6rem;
    margin-left: .2rem;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .rightSort{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .rightSort li{

  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .rightSort li:nth-child(1){
    margin-right: 1rem;
  }

  #mainBody .right .showingResultsForMobile .showingResultsBox .rightSort li img{
    width: 1rem;
  }


  /* product card lists */

  .productCardLists,
  .otherProductsCard li {
    width: 33.3%;
  }

  /* footer */

  /* top */

  #footer .top {
    flex-direction: column;
  }

  #footer .footerWrapper .top ul:nth-child(2) {
    width: 70%;
    margin-top: 1.5rem;
  }

  #footer .footerWrapper .top ul .rightInputMailBox {
    width: 100%;
  }

  /* middle */

  footer .footerWrapper .middle {
    flex-wrap: wrap;
    flex-shrink: 1;
  }

  #footer .footerWrapper .middle ul:nth-child(1) {
    display: none;
  }

  #footer .footerWrapper .middle ul:nth-child(2) {
    display: none;
  }

  #footer .footerWrapper .bottom .right {
    display: none;
  }

  #footer .footerWrapper .bottom {
    align-items: center;
    justify-content: center;
  }

  #footer .footerWrapper .bottom .left li{
    font-size: 0.6rem;
  }

  #footer .footerWrapper .bottom .left li:nth-child(2) {
    justify-content: center;
  }


}

/* ---------------------- */

@media screen and (min-width: 950px) {
  #mainBody .right .showingResultsForMobile{
    display: none;
  }

  #searchBoxForMobile{
   display: none;
  }

  #mainbody .left {
    display: none;
  }

  #menu{
    display: none;
  }


}



@media screen and (max-width: 520px){

  /* ------ top discount bar -------- */

  #mainContainer .wrapper .topDiscountBar p{
    font-size: 0.5rem;
  }

  #mainContainer .wrapper .topDiscountBar ul li {
    font-size: .4rem;
  }

  #mainContainer .wrapper .topDiscountBar ul li span {
    font-size: .6rem;
  }

  /* ---------- research bar and lists --------- */

  #ressearchBarAndLists{
    width: 96%;
    padding: 0px .5rem;
  }


  #ressearchBarAndLists button img{
    width: 1.4rem;
  }

  #ressearchBarAndLists button .logo{
    width: 5.5rem;
  }

  /* ------------- main body left ------------- */

  #mainBody .forMobileViewFilteringOpen{
    width: 70%;
  }

  /* ------- banner ------- */

  #mainBody .right .banner{
    display: none;
  }

  /* product card */

  .productCardLists,
  .otherProductsCard li {
    width: 50%;
  }

  /* footer middle */

  #footer .footerWrapper .middle{
    display: none;
  } 

  #footer .footerWrapper hr:nth-child(2){
    display: none;
  }

  /* footer for small screens */

  /* top section */

  #footer .footerWrapper .footerMiddleForSmallScreen{
    width: 100%;
    margin-top: 1rem;
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .topSec{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .topSec ul{
    list-style-type: none;
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .topSec ul li{
    margin-top: .4rem;
  }
  #footer .footerWrapper .footerMiddleForSmallScreen .topSec ul li h4{
    color: #111827;
    font-size: 0.7rem;
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .topSec ul li p{
    font-size: 0.7rem;
    color: #4b5563;
    cursor: pointer;
  }
  
  /* bottom section */

  #footer .footerWrapper .footerMiddleForSmallScreen .bottomSec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .bottomSec ul{
    list-style-type: none;
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .bottomSec ul li{

  }

  #footer .footerWrapper .footerMiddleForSmallScreen .bottomSec ul li h4{
    color: #111827;
    font-size: 0.7rem;
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .bottomSec ul .storeUl{
    
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .bottomSec ul .storeUl li{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: .5rem;
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .bottomSec ul .storeUl li img{
    width: 4.5rem;
  }

  #footer .footerWrapper .footerMiddleForSmallScreen .bottomSec ul .storeUl li p{
    font-size: 0.7rem;
    color: #4b5563;
    cursor: pointer;
    text-align: center;
  }

  
}

/* ---------------------------- */
@media screen and (min-width: 520px) {
  #footer .footerWrapper .footerMiddleForSmallScreen {
    display: none;
  }
}

